<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Flask</title>
</head>
<body>
    <h1>Primeiro site flask</h1>
    <h2>
        <p>Links para acessar as páginas</p>
        <p><a href="/contato">Contato</a></p>
        <p>
            Digite algo diferente na url para aparecer no texto: <br>
            <a href="usuarios/padrão">usuários</a>
        </p>
    </h2>
</body>
</html>